<form role="form" ng-submit="vm.submit()">
  <div class="form-group form-control input-lg text-center">
    <!-- <label for="task__content">New Task</label> -->
    <!-- <textarea class="form-control"
              id="task__name"
              rows="3"
              placeholder="ex. Clean your room !!"
              ng-model="vm.name">
    </textarea> -->
    <input id="task__name" placeholder="Enter Task List" ng-model="vm.name" class="ng-valid ng-dirty ng-touched">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</form>
