<div class="row task__list">
  <input type="checkbox" ng-model="vm.done" />
  <!-- <span class="task__name done-{{vm.done}}">
    {{task.name}}
  </span> -->
  <!-- <span class="task__meta">
    <a href="/+{{ task.author.username }}">
      +{{ task.author.username }}
    </a>
  </span> -->
  <!-- <span> -->
    <a href="#" class="task__name done-{{vm.done}}"  editable-text="task.name" e-style="color: green" e-required e-placeholder="Enter name" onbeforesave="vm.update(task)">
    {{ (task.name || 'empty') }}
  </a>
<!-- </span> -->
  <span class="input-group-btn">

  <span class="task__meta">
    <a href="/+{{ task.author.username }}">
      +{{ task.author.username }}
    </a>
  </span>
    <!-- <button
      type="submit"
      ng-dialog="/static/templates/tasks/edit-task.html" ng-dialog-controller="EditTaskController as vm"
      class="btn btn-info"> -->
    <!-- <button type="submit"   ng-dialog="/static/templates/tasks/edit-task.html"
    class="btn btn-info" ng-click="vm.update(task)"> -->
      <!-- Edit -->
    <!-- </button> -->
    <button type="submit" ng-click="vm.del()" class="btn btn-danger">
      Delete
    </button>
  </span>
</div>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="task">
        <div class="task__meta">
          <a href="/+{{ task.author.username }}">
            +{{ task.author.username }}
          </a>
        </div>

        <div class="task__name">
          {{ task.name }}
        </div>
      </div>
    </div>
  </div>
</div> -->
