<div class="row task__list">
  <form class="form-horizontal" editable-form name="editableForm" onaftersave="vm.update(task)">
    <div class="form-group">

      <label class="col-md-2 title">Name: </label>
      <div class="col-md-10">
        <span class="task__name done-{{vm.done}} form-control" e-name="task__name" editable-text="task.name" e-required e-placeholder="Enter Task">
          {{ (task.name || 'empty') }}
        </span>
      </div>

      <label class="col-md-2 title">Description: </label>
      <div class="col-md-10">
        <span class="task__description form-control" e-name="task__description" e-rows="3" editable-textarea="task.description" e-required e-placeholder="Enter Description">
          {{ (task.description || 'empty') }}
        </span>
      </div>

      <label class="col-md-2 title">Status: </label>
      <div class="col-md-10">
        <span class="task__status form-control" ng-model="task.status" editable-select="task.status" e-required e-name="task__status" e-ng-options="opt.value as opt.text for opt in options">
          {{ ( options | filter: {value: task.status})[0].text || 'Not set' }}
        </span>
      </div>


      <div class="input-group-btn button-grp">
        <!-- button to show form -->
        <button type="button" class="btn btn-info" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
          Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
          <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
            Save
          </button>
          <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
            Cancel
          </button>
        </span>
        <!-- button to delete -->
        <button type="submit" ng-click="vm.destroy(index)" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>

    <!-- <a href="#" class="task__name done-{{vm.done}}"  editable-text="task.name" e-style="color: green" e-required e-placeholder="Enter name" onbeforesave="vm.update(task)">
      {{ (task.name || 'empty') }}
    </a> -->
      <!-- <span class="task__meta">
        <p>{{ (task.description || 'empty') }}</p>
        <a href="/+{{ task.author.username }}">
          +{{ task.author.username }}
        </a>
      </span> -->
    <!-- </span> -->



  </form>
</div>
